*{
    margin: 0;
    font-family:sans-serif;
    list-style:none;
    text-decoration: none;
    box-sizing: border-box;
}


body{
    display: grid;
    height: 100vh;
    grid-template-rows: 50px 1fr 40px;
    grid-template-columns: 1fr 80px;
    grid-template-areas: 
        "header header  header"
        "main main main"
        "footer footer footer";
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: red;
    grid-area: header;
}
ul{
    display: flex;
    gap: 15px;
    margin-right: 80px;
}

li a{
    color: white;
}
.menuLogo{
    margin-left: 80px;
}
.hamburguer{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    margin: 5px auto;
    background-color: white;
    transition: all 0.3s; 
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: gray;
    grid-area: main;
}
section{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.section1{
    background-color: yellow;
 
}
.section2{
    background-color: rgb(140, 140, 32);
  
}
.section3{
    background-color: rgb(112, 112, 4);      
}


.section1-img{
    width: 300px;
    height: auto;
    border-radius: 8px;
    margin: 30px;
}

.section2-img{
    width: 300px;
    height: auto;
    border-radius: 8px;
    margin: 30px;
}

.section3-img{
    width: 300px;
    height: auto;
    border-radius: 8px;
    margin: 30px;
}


.section1-txt{
    margin-right: 120px;
}
.section2-txt{
    margin-right: 120px;
}
.section3-txt{
    margin-right: 120px;
}


h1{
    color: azure;
    font-size: larger;
    font-weight: 600;
}

p{

}

footer{
    background-color: black;
    grid-area: footer;
}
